In [1]:
import torch
import numpy as np
import pandas as pd

### 查看数据集

In [4]:
train_data = pd.read_csv("data/train.csv")
test_data = pd.read_csv("data/test.csv")

print(f'训练集的形状：{train_data.shape}')
print(f'测试集的形状：{test_data.shape}')
print("查看前4个和后4个特征:", train_data.iloc[0:4, [0, 1, 2, 3, -3, -2, -1]])

训练集的形状：(47439, 41)
测试集的形状：(31626, 40)
查看前4个和后4个特征:    Id            Address  Sold Price  \
0   0        540 Pine Ln   3825000.0
1   1     1727 W 67th St    505000.0
2   2     28093 Pine Ave    140000.0
3   3  10750 Braddock Dr   1775000.0

                                             Summary         City    Zip State
0  540 Pine Ln, Los Altos, CA 94022 is a single f...    Los Altos  94022    CA
1  HURRY, HURRY.......Great house 3 bed and 2 bat...  Los Angeles  90047    CA
2  'THE PERFECT CABIN TO FLIP!  Strawberry deligh...   Strawberry  95375    CA
3  Rare 2-story Gated 5 bedroom Modern Mediterran...  Culver City  90230    CA

In [7]:
train_data.describe()

,Id,Sold Price,Year built,Lot,Bathrooms,Full bathrooms,Total interior livable area,Total spaces,Garage spaces,Elementary School Score,Elementary School Distance,Middle School Score,Middle School Distance,High School Score,High School Distance,Tax assessed value,Annual tax amount,Listed Price,Last Sold Price,Zip
count,47439.000000,4.743900e+04,46394.000000,3.325800e+04,43974.000000,39574.000000,4.491300e+04,46523.000000,46522.000000,42543.000000,42697.000000,30734.000000,30735.000000,42220.000000,42438.000000,4.378700e+04,43129.000000,4.743900e+04,2.967300e+04,47439.000000
mean,23719.000000,1.296050e+06,1956.634888,2.353383e+05,2.355642,2.094961,5.774587e+03,1.567117,1.491746,5.720824,1.152411,5.317206,1.691593,6.134344,2.410366,7.863118e+05,9956.843817,1.315890e+06,8.078537e+05,93279.178587
std,13694.604047,1.694452e+06,145.802456,1.192507e+07,1.188805,0.963320,8.324363e+05,9.011608,8.964319,2.103350,2.332367,2.002768,2.462879,1.984711,3.596120,1.157796e+06,13884.254976,2.628695e+06,1.177903e+06,2263.459104
min,0.000000,1.005000e+05,0.000000,0.000000e+00,0.000000,1.000000,1.000000e+00,-15.000000,-15.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,85611.000000
25%,11859.500000,5.650000e+05,1946.000000,4.991000e+03,2.000000,2.000000,1.187000e+03,0.000000,0.000000,4.000000,0.300000,4.000000,0.600000,5.000000,0.800000,2.549615e+05,3467.000000,5.745000e+05,3.350000e+05,90220.000000
50%,23719.000000,9.600000e+05,1967.000000,6.502000e+03,2.000000,2.000000,1.566000e+03,1.000000,1.000000,6.000000,0.500000,5.000000,1.000000,6.000000,1.300000,5.475240e+05,7129.000000,9.490000e+05,5.980000e+05,94114.000000
75%,35578.500000,1.525000e+06,1989.000000,1.045400e+04,3.000000,2.000000,2.142000e+03,2.000000,2.000000,7.000000,1.000000,7.000000,1.800000,8.000000,2.400000,9.371625e+05,12010.000000,1.498844e+06,9.500000e+05,95073.000000
max,47438.000000,9.000000e+07,9999.000000,1.897474e+09,24.000000,17.000000,1.764164e+08,1000.000000,1000.000000,10.000000,57.200000,9.000000,57.200000,10.000000,73.900000,4.590000e+07,552485.000000,4.025320e+08,9.000000e+07,96155.000000

In [9]:
train_data.columns

Index(['Id', 'Address', 'Sold Price', 'Summary', 'Type', 'Year built',
       'Heating', 'Cooling', 'Parking', 'Lot', 'Bedrooms', 'Bathrooms',
       'Full bathrooms', 'Total interior livable area', 'Total spaces',
       'Garage spaces', 'Region', 'Elementary School',
       'Elementary School Score', 'Elementary School Distance',
       'Middle School', 'Middle School Score', 'Middle School Distance',
       'High School', 'High School Score', 'High School Distance', 'Flooring',
       'Heating features', 'Cooling features', 'Appliances included',
       'Laundry features', 'Parking features', 'Tax assessed value',
       'Annual tax amount', 'Listed On', 'Listed Price', 'Last Sold On',
       'Last Sold Price', 'City', 'Zip', 'State'],
      dtype='object')

## 数据预处理

### 数值类型特征处理

In [24]:
"""将训练集和测试集组合在一起"""
all_features = pd.concat((train_data.iloc[:, 3:-1], test_data.iloc[:, 1:-1]))

numeric_features = all_features.dtypes[all_features.dtypes != 'object'].index
all_features[numeric_features] = all_features[numeric_features].apply(
	lambda x : (x - x.mean()) / (x.std())
)

In [25]:
# 在标准化数据之后 所有均值消失 可以将缺失值设置为0
all_features[numeric_features] = all_features[numeric_features].fillna(0)

In [26]:
print(f'处理之后数据集的形状：{all_features.shape}')

处理之后数据集的形状：(79065, 38)

### 保存数据

In [30]:
len_train = train_data.shape[0]
train_features = all_features[numeric_features][:len_train]
train_features['label'] = train_data.iloc[:, 2]
test_features = all_features[numeric_features][len_train:]

train_features.to_csv('data/processed_train.csv', index=False)
test_features.to_csv('data/processed_test.csv', index=False)

print(train_features.shape)
print(test_features.shape)

(47439, 19)
(31626, 18)

In [31]:
train_features['label']

0        3825000.0
1         505000.0
2         140000.0
3        1775000.0
4        1175000.0
           ...
47434     159000.0
47435     255000.0
47436    2300000.0
47437     500000.0
47438     760000.0
Name: label, Length: 47439, dtype: float64